<%include header%>

Config
<div style="display:flexbox">
	<div ng-controller="configcontroller">
	<div style="display:flexbox">
	config
	</div>
	</div>
</div>

<%include script%>
<script src="app/config/app.configservice.js" ></script>
<script src="app/config/app.configcontroller.js" ></script>
<%include footer%>