<%include header%>

Config
<div style="display:flexbox">
	<div ng-controller="configcontroller">
	<div style="display:flex">
		<div>

		<div class="rowHeader hidden-xs col-sm-12">
			<div class="col-sm-6">Device Name</div>
			<div class="col-sm-6">Port</div>
		</div>
		
			<div ng-repeat="row in devices" class="col-sm-12">
				<div class="row" ng-class-odd="'oddrow'" ng-class-even="'evenrow'">
					<div class="col-xs-12 col-sm-6"><input type="text"  ng-model="row.devicename" /></div>
					<div class="col-xs-12 col-sm-6" style="display:flex" >
						<div style="width:30%"><input type="number" ng-model="row.port" /></div>
						<div style="width:30%"><input type="button" class="btn" value="update" ng-click="update(row);"/></div>
						<div style="width:30%"><input type="button" class="btn" value="delete" ng-click="delete(row);"/></div>
					</div>	
				</div>
			</div>
		</div>
	</div>
	</div>
</div>

<%include script%>
<script src="/app/config/app.configservice.js" ></script>
<script src="/app/config/app.configcontroller.js" ></script>
<%include footer%>