</div>
</div>
<!-- footer here -->
<div class="footer">

</div
</div> <!-- main layout-->
 <script>
 	(function () {
 	console.log('user is' + window.sessionStorage.getItem("user"));
// 	document.getElementById("user_name").innerText = window.sessionStorage.getItem("user");
 		//$('#user_name').val(window.sessionStorage.getItem("user"));
 		// body...
 	})()
 </script>
</body>
</html>