<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/lib//toastr.min.css"/>
<link rel="stylesheet" type="text/css" href="/main.css"/>
</head>
<body ng-app='app'>
<!-- <img src="images/logo.png"/> -->
<div class="layout">
<header class="header"><span class="homeRef"> <a  href="/home" title="Digital Home"><span><img src="/images/DigiHome2.gif" style="height:50px; width:80px;" /> </span> </a></span>
	<div class="titlebar">
	<span class="username"><span id="user_name"></span></span>
		<a title="Information" href="/information"><span class="glyphicon glyphicon-info-sign"></span></a>
		<a  title = "Configuration" href="/configure/index"><span class="glyphicon glyphicon-wrench">
			
		</span></a>
<!-- 		<a  title = "Configuration" class=" dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-wrench">
			
		</span></a>
		<ul class="dropdown-menu" style="">
			<li><a title="Configure" href="/configure/index">Devices</a> </li>
			<li><a title="Configure" href="/configure/user">User</a> </li>
		</ul> -->
		<!-- <a title="Configure" href="/configure/index"><span class="glyphicon glyphicon-wrench"></span></a> -->
		<a title="Sign Off" href="/logout"><span class="glyphicon glyphicon-off"></span></a>
	 </div>
 </header>
<div style="text-align:center">
<div class="col-sm-12 main">
