<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="main.css"/>
</head>
<body ng-app='app'>
<!-- <img src="images/logo.png"/> -->
<header class="header">DigiHome</header>
<div></div>
<div style="text-align:center">
<div class="col-sm-12 main">
