<%include header%>

Dashboard 
<div style="display:flexbox">
	<div ng-controller="homecontroller">
	<div style="display:flexbox">
		<div ng-repeat ="device in devicedata">

			<!--{{device.devicename}} -->

			<my-switch/>
		</div>
	</div>
	</div>
</div>

<%include script%>
<script src="app/home/app.homeservice.js" ></script>
<script src="app/home/app.home.switchdirective.js" ></script>
<script src="app/home/app.homecontroller.js" ></script>
<%include footer%>