<%include header%>
<div ng-app="app">
<div ng-controller="listcontroller">
the text is {{value}}
</div>
</div>
<!--<script  src="scripts/jquery.min.js" ></script>
-->

<%include script%>
<script  src="app/List/listcontroller.js" ></script>


<%include footer%>