<%include header1%>
<div style="text-align:center;align:center">
	<div ng-app='app'>
		<div ng-controller='logincontroller'>
			<div class='col-xs-12 col-lg-12'>
				<div class='loginbox'>
						<div>
							<label> name: </label>
							<input type ='text' name='username' ng-model='userName'/>
						</div>
						<div>
							<label>Password:</label>
							<input type='password' name ='pwd' ng-model='password'/>
						</div>

						<div style="margin-top:20px;text-align:right;width:100%">
						<span style="width:50%"></span>
						<span>
							<input type='submit' class='btn btn-default' name='loginbtn' value ='Logon' ng-click='login()' 
							ng-disabled='UserName == "" || password ==""'/>
						</span>
							
						</div>
						<div class="error">{{error}}</div>
					</div>
				</div>
		</div>
	</div>
<%include script%>
<script  src="app/login/loginservice.js" ></script>
<script  src="app/login/logincontroller.js" ></script>
</div>
<%include footer%>