<%include header1%>
<div style="text-align:center;align:center">
	<div ng-app='app'>
		<div ng-controller='logoutcontroller'>
			<div class='col-xs-12 col-ls-12'>
			<p>You have signed out</p>
			<a title="Login" href="/login">Login</a>
			</div>
		</div>
	</div>
<%include script%>
<script  src="app/login/loginservice.js" ></script>
<script  src="app/login/logoutcontroller.js" ></script>
</div>
<%include footer%>